/* -------------- General rules --------------*/
h2, h3, h5, p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
hr {
    border: none;
    height: 1rem;
    background-color: #fff;
    width: 50%; 
    margin: 20px auto; 
}
/* -------------- Nav bar --------------*/
.nav-item {
    margin-left: 0.3rem;
}
/* -------------- Main -------------- */
.hero-bg {
    background: url('../images/bg1.png') center center/cover no-repeat;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jumbotron {
    background-color: #fb882430;
    height: 58vh;
    padding: 1rem 5rem;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
}
h1 {
    font-family: "Beth Ellen", "Homemade Apple";
    margin-bottom: 5%;
}
/* -------------- Section of Mindful yoga -------------- */
h2 {
    color: #a68d65;
    text-align: center;
}
.img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
}
/* -------------- Section of Guided Video -------------- */
.goldfont {
    color: #a68d65;
}
iframe {
    border-radius: 30px;
    border:5px solid #a68d65;
}
/* -------------- Section of Affirmation -------------- */
.affirmation-bg {
    background: url('../images/bg11.png') center center no-repeat;
}
.iframe2 {
    border: 1px dotted #dfe0df;
}
.quote-img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.quotes {
    border-radius: 30px;
}
/* -------------- resources -------------- */
#resources {
    background: url('../images/bg9.jpg') center center fixed;
    background-size: cover;
}
.resources_img {
    height: auto;
    width: 300px;
}
.resources-img {
    width: auto;
    height: 280px;
}
.card {
    margin-bottom: 2rem;
    background-color: rgba(255, 232, 215,.38);
}
/* -------------- Contac Us -------------- */
#contact {
    background: url('../images/bg8.jpg') center center/cover no-repeat;
    height: 95vh;
}
.center-form {
    width: 60vw;
}
/* -------------- Media Query -------------- */
@media (max-width: 400px) {
    .jumbotron p {
        display: none;
    }
    #affirmation {
        margin-bottom: 5rem;
    }
}
@media (max-width: 767px) {
    #affirmation {
        margin-bottom: 3rem;
    }
}